<!-- <p>Adicionar Produto</p> -->

<form [formGroup]="form" (ngSubmit)="submitForm()">

    <div class="form-group">
        <div class="form-row">
            <div class="col-12 col-md-4">
                <p>Primeira imagem:</p>
                <div class="form-group border rounded">
                    <label for="upload1" class="w-100 text-center">
                        <img [src]="url1" style="max-width:100%;height:220px;background-size: cover;opacity:.3;" class="rounded m-2" aria-hidden="true">
                        <input type="file" style="display:none;" id="upload1" class="form-control" name="photo1" (change)="uploadFile1($event)" />
                    </label>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <p>Segunda imagem:</p>
                <div class="form-group border rounded">
                    <label for="upload2" class="w-100 text-center">
                        <img [src]="url2" style="max-width:100%;height:220px;background-size: cover;opacity:.3;" class="rounded m-2" aria-hidden="true">
                        <input type="file" style="display:none;" id="upload2" class="form-control" name="photo2" (change)="uploadFile2($event)" />
                    </label>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <p>Terceira imagem:</p>
                <div class="form-group border rounded">
                    <label for="upload3" class="w-100 text-center">
                        <img [src]="url3" style="max-width:100%;height:220px;background-size: cover;opacity:.3;" class="rounded m-2" aria-hidden="true">
                        <input type="file" style="display:none;" id="upload3" class="form-control" name="photo3" (change)="uploadFile3($event)" />
                    </label>
                </div>
            </div>
        </div>
    </div>

    
    <div class="form-row">
        <div class="form-group col-8">
            <input type="text" class="form-control" formControlName="name" placeholder="Nome do produto">
        </div>
        
        <div class="form-group col-4">
            <input type="text" class="form-control" formControlName="price" placeholder="Preço do produto">
        </div>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" formControlName="caption" placeholder="Descrição curta do produto (opcional)">
    </div>

    <div class="form-group">
        <textarea class="form-control" formControlName="description" placeholder="Descrição longa do produto (opcional)"></textarea>
    </div>

    <!-- <div class="form-group">
        <textarea class="form-control" formControlName="details"></textarea>
    </div> -->

    <!-- <div class="form-group">
        <input type="text" class="form-control" placeholder="discount" formControlName="discount">
    </div> -->

    <!-- <div class="form-group">
        <input type="text" class="form-control" placeholder="video" formControlName="video">
    </div> -->

    <div class="form-group text-md-right">
        <button type="submit" class="btn btn-danger">Publicar produto</button>
    </div>
    
</form>