<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Empresa</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Confirme seus dados</a>
      <a mat-list-item href="#">Adicione Produtos</a>
      <a mat-list-item href="#">Adicione Banners</a>
      <a mat-list-item href="#">Adicione Promoção</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Dashboard</span>
    </mat-toolbar>
    <!-- Add Content Here -->

    <div class="row m-2">
      <div class="col-12">
        <div class="row p-4 mb-2 banner rounded bg-white">
          <h1 class="font-weight-bold">Edite sua loja</h1>
          <p>Esse é o seu espaço administrativo. Acompanhe as vendas, visitas e cliques. Adicione produtos, banners e promoções.
          <br>Precisa de ajuda? <a href="http://">Assista ao vídeo tutorial</a> ou fale com nosso suporte on-line <a href="http://">clicando aqui</a>.</p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 products text-right">
          <button class="btn btn-primary">Publicar loja</button>
          <button class="btn btn-success">Compartilhar</button>
        </div>
      </div>

    <div class="row">
      <div class="col-12 products">
        <h4 class="p-2">Seus produtos cadastrados:</h4>
        <div class="text-center bg-white m-2 p-4 rounded border" style="width:22.5%;float:left">
          <mat-icon style="font-size:3em;color:#ccc;margin-left:-.5em;">add_circle_outline</mat-icon>
          <p style="color:#ccc;">Adicione produto</p>
        </div>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
      </div>
    </div>

    <mat-divider></mat-divider>
    
    <!-- <section>
      <div class="example-label">FAB</div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
              <mat-icon>bookmark</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button mat-fab color="warn" *ngFor="let item of items" (click)="alerta($event, item)" aria-label="Example icon button with a home icon">
              <mat-icon>home</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button mat-fab disabled aria-label="Example icon button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section> -->
    <mat-divider></mat-divider>
    <!-- end -->

  </mat-sidenav-content>
</mat-sidenav-container>
