<section>
    <div class="container">
        <h1>Sobre nós</h1>

        <p>Em 2020, mudanças e adaptações impulsionaram novas tendências no mercado digital.</p>
        <p>Neste cenário, dois empresários, já com grande experiência nas áreas de publicidade, marketing e TI, identificaram a oportunidade de contribuir com as vendas do comércio local através da internet.</p>

        <p>E foi assim, com muito trabalho e comprometimento que, em 2021, foi lançada a plataforma digital Shop Rio Claro, um “shopping virtual” que tem como objetivo intermediar a comunicação entre lojas e consumidores, facilitando a comercialização de produtos de Rio Claro para todo o Brasil.</p>
        <br>

        <h6>MISSÃO</h6>
        <p>Nossa missão é contribuir com as empresas da cidade de Rio Claro/SP, no processo de transformação e adequação ao mundo tecnológico, facilitando com a nossa plataforma, a divulgação e vendas do comércio local através da internet.</p>

        <br>
        <h6>VISÃO</h6>
        <p>Consolidar a nossa atuação garantindo a excelência nos serviços prestados, sendo referência no âmbito municipal do nosso segmento, mantendo a empatia, legalidade e transparência com nossos parceiros e com a sociedade.</p>

        <br>
        <h6>VALORES</h6>
        <p>Ética, Lealdade, Empatia, Transparência, Inovação e Responsabilidade.</p>
    </div>
</section>
