.content {
    background-color: #fd0;
}
.no-style {
    list-style: none;
}
h1, .logo {
    font-size: 5em;
}
ul:first-of-type span {
    color:#090;
}
ul span {
    color:#aa0000;
}
input[type='text'],input[type='password'] {
    padding: 15px 20px !important;
    font-size: 1.6em;
    background: #fff;
}
button {
    padding: 15px 20px !important;
    font-size: 1.6em;
    background: #090;
    border:none;
}
.invalid-feedback {
    width: 100%;
    padding: 6px;
    margin: 0 0 5px 0;
    border-radius: 3px;
    background-color: #ffd;
    text-align: left;
    color: #aa0000;
}