<!-- Header -->
<app-header></app-header>

<!-- Slider -->
<app-slider></app-slider>

<!-- Sistema de busca -->
<app-search></app-search>

<!-- Campanhas -->
<img src="https://3.bp.blogspot.com/-G6Nawwe-hFQ/WfMH02V5v8I/AAAAAAAADWM/sGr2Jo1KDQcqbGuOOvtgH3Fz3EJz6w9bACLcBGAs/s1600/Grinaldas%2Bgr%25C3%25A1ficas%2Bde%2BNatal%2Be%2Bbordas%2Bcom%2Bfundo%2Btransparente%2B%25284%2529.png" class="d-none" style="width:100%;float:left;position:absolute;top:-40px;z-index:7;" alt="">

<!-- Router-outlet -->
<router-outlet></router-outlet>

<!-- newsletter -->
<app-newsletter></app-newsletter>

<!-- footer -->
<app-footer></app-footer>

