.carousel-item img {
    margin:0px;
}
.block4-wrap {
	display:flex;
}
.block4 {
    margin:0 4px;
	flex:1 0 24.27%;
    color:#000;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius:4px;
}
.carousel-inner {
    border-radius: 4px;
}
.carousel-inner::-webkit-scrollbar {
    display: none;
  }
.carousel-inner::-webkit-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.my-captions{margin:10px;padding-bottom:3em}
ol li {
    background:#000;
}
/* fix width and make user scroll with mouse/touch to see the items */
@media screen and (max-width:768px){
	.block4{max-width:280px;flex:1 0 100%;overflow:hidden}	
	.carousel{overflow:hidden;}
    .carousel-inner{overflow-x:visible;}
    .control {display: none;}
}
@media screen and (max-width:480px){
    .block4{max-width:240px;}	
    .control {display: none;}
}

