h1 {
    font-size: 5em;
}
input[type='text'],input[type='password'] {
    padding: 15px 8px !important;
    font-size: 1.2em;
    background: #fff;
}
button {
    float: right;
    padding: 15px 20px !important;
    font-size: 1.6em;
    background: #090;
    border:none;
}