// .content {
//     background-color: #fd0;
// }
.no-style {
    list-style: none;
}
h1 {
    font-size: 3.6em;
}
ul:first-of-type span {
    color:#090;
}
ul span {
    color:#aa0000;
}
input[type='text'],input[type='password'] {
    padding: 15px !important;
    font-size: 1.4em;
    background: #fff;
}
button {
    font-size: 1.2em;
    background: #f70;
}
.invalid-feedback {
    width: 100%;
    padding: 6px;
    margin: 0 0 5px 0;
    text-align: left;
    color: #ffff00;
}