// .content {
//     background-color: #fd0;
// }
.no-style {
    list-style: none;
}
h1 {
    font-size: 3.6em;
}
ul:first-of-type span {
    color:#090;
}
ul span {
    color:#aa0000;
}
input[type='text'],input[type='password'] {
    background: #fff;
}

.form-check-label {
    font-size: .8em;
}

.invalid-feedback {
    width: 100%;
    padding: 6px 13px;
    margin: 0 0 5px 0;
    text-align: left;
    color: #aa0000;
}
.form-check-input.is-invalid~.form-check-label, .was-validated .form-check-input:invalid~.form-check-label {
    color: #aa0000 !important;
}