<div class="col-12 text-light h-100">
    <div class="row bg-dark">
        <div class="col-12 pt-4 pb-3">
            <h2 class="font-weight-bold">Olá{{ ', ' + firstName }}!</h2>
        </div>
    </div>
    <div class="row h-100">
        <nav class="col-3 bg-light h-100">
            <ul class="p-0">
                <li class="w-100 float-left border-bottom"><a class="w-100 float-left p-3 text-dark" routerLink="/vendedores">Painel de Controle</a></li>
                <li class="w-100 float-left border-bottom"><a class="w-100 float-left p-3 text-dark" routerLink="">Suas Vendas</a></li>
                <li class="w-100 float-left border-bottom"><a class="w-100 float-left p-3 text-dark" routerLink="">Dados da Empresa</a></li>
                <li class="w-100 float-left border-bottom"><a class="w-100 float-left p-3 text-dark" routerLink="/vendedores/lista-produtos">Produtos à Venda</a></li>
                <li class="w-100 float-left border-bottom"><a class="w-100 float-left p-3 text-dark" routerLink="/vendedores/adicionar-produtos">Adicionar produtos</a></li>
                <li class="w-100 float-left border-bottom"><a class="w-100 float-left p-3 text-dark" (click)="logout()">Sair</a></li>
            </ul>
        </nav>
        <div class="col-9 p-4 bg-white h-100 text-dark">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>